@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #ffffff;
  --color-primary: #414141;
  --color-txtInverted: #ffffff;
  --color-maintxt: #414141;
  --color-subtxt: #979797;
  --color-accent: #979797;
  --color-accentInverted: #1fff01;
  --color-border: #d9d9d9;
  --color-footer-background: #5a5a5a;
  --color-modebg: #979797;
  --font-poppins: "Poppins", sans-serif;
}
.light {
  --color-background: #f5f5f5;
  --color-primary: #414141;
  --color-txtInverted: #ffffff;
  --color-maintxt: #414141;
  --color-subtxt: #979797;
  --color-accent: #979797;
  --color-accentInverted: #1fff01;
  --color-border: #d9d9d9;
  --color-footer-background: #5a5a5a;
  --color-modebg: #979797;
}

.dark {
  --color-background: #1a1a1a;
  --color-footer-background: #141414;
  --color-maintxt: #ffffff;
  --color-subtxt: #979797;
  --color-modebg: #0f0f0f;

  --color-accent: #4ade80;
  --color-border: #d9d9d9;
}

@layer utilities {
  .navlink {
    @apply text-maintxt hover:text-accent transition duration-200;
  }

  .px-container {
    @apply px-4 sm:px-6 md:px-12;
  }

  .error {
    @apply text-red-600 text-xs pl-2;
  }
}

@layer components {
  .card {
    @apply p-4 rounded-3xl border border-border/50 dark:border-border/20;
  }
  .input {
    @apply border rounded-lg placeholder:text-subtxt w-full px-2 py-2 border-border;
  }
}
@layer base {
  h1,
  h2,
  p,
  li,
  label,
  select,
  input,
  a {
    @apply text-maintxt font-poppins;
  }
}
.active {
  @apply text-accent;
}

.path {
  path {
    @apply fill-maintxt;
  }
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff; /* white background */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000; /* black thumb */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #333333; /* darker black on hover */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #000000 #ffffff;
}
