@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #ffffff;
  --color-primary: #414141;
  --color-txtInverted: #ffffff;
  --color-maintxt: #414141;
  --color-subtxt: #979797;
  --color-accent: #979797;
  --color-accentInverted: #10b981;
  --color-border: #d9d9d9;
}

.dark {
  --color-background: #1a1a1a;
  --color-maintxt: #ffffff;
  --color-subtxt: #979797;
  --color-accent: #01ff01;
  --color-border: #d9d9d9;
}

@layer utilities {
  .navlink {
    @apply text-maintxt hover:text-accent transition duration-200;
  }

  .px-container {
    @apply p-4 sm:p-6 md:p-12;
  }
}

@layer components {
  .card {
    @apply p-4 rounded-3xl border border-border/50 dark:border-border/20;
  }
  .input {
    @apply border rounded-lg placeholder:text-subtxt px-2 py-2 border-border;
  }
}
@layer base {
  h1,
  h2,
  p,
  li,
  label,
  input,
  a {
    @apply text-maintxt;
  }
}
.active {
  @apply text-accent;
}

.path {
  path {
    @apply fill-maintxt;
  }
}
